.nachricht {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.nachricht h1, h2 {
  color: white;
  padding: 20px 0;
}

.nachricht a {
  color: #FF0700;
}

.nachricht a:hover {
  filter: drop-shadow(1px 1px 10px red);
}

.nachricht__smile {
  max-width: 100px;
  position: absolute;
  right: 60px;
  bottom: 190px;
}

@media only screen and (max-width: 1023px) {
  .nachricht h1 {
    padding: 0;
  }

  .nachricht__smile {
    position: relative;
    right: 0px;
    top: 5px;
  }
}
@media only screen and (max-width: 700px) {
  .nachricht h1 {
    font-size: 30px;
    padding: 20px 0;
  }

  .nachricht h2 {
    font-size: 25px;
    margin: 0;
  }

  .nachricht__smile {
    max-width: 80px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  line-height: 1.5;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 100vh;
  margin-left: 100px;
  padding: 0 20px;
  background: #211A36;
}

section h1 {
  font-size: 40px;
  text-align: center;
  padding: 10px;
  color: white;
}

section p {
  color: white;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;
}

.horizontal__line {
  border: 2px solid #FF0700;
  border-radius: 100%;
  width: 30%;
  margin: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .horizontal__line {
    width: 60%;
  }
}
@media screen and (max-width: 700px) {
  html, body {
    margin-left: 0;
    padding: 0;
    scroll-padding-top: 110px;
    /* Equals to fixed navbar height for mobile usage*/
  }

  section h1 {
    font-size: 30px;
    padding: 0px;
  }

  section p {
    font-size: 16px;
  }
}
.aboutme {
  max-width: 1600px;
  padding: 25px 0;
}
.aboutme p {
  text-align: justify;
  padding: 5px 0;
}
.aboutme .aboutme__photo {
  margin: 0 40px 0 20px;
  float: left;
}
.aboutme .aboutme__photo .aboutme__img {
  max-width: 300px;
  height: auto;
  border-radius: 50%;
  filter: drop-shadow(1px 1px 20px #FF0700);
}

@media only screen and (max-width: 900px) {
  .aboutme {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 20px;
    padding: 10px 0;
  }
  .aboutme .aboutme__text p {
    padding-bottom: 10px;
  }
  .aboutme .aboutme__photo {
    margin: auto;
    padding-top: 20px;
  }
}
@media only screen and (max-width: 700px) {
  .aboutme {
    margin: 0 25px;
    padding-bottom: 25px;
  }
  .aboutme .aboutme__text p {
    text-align: left;
  }
}
.nav__header__logo {
  height: 6rem;
  margin: 55.5px 0 8px;
}

.nav {
  width: 200px;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0C0032;
}
.nav__header {
  display: block;
  text-align: center;
  padding-bottom: 38px;
}
.nav__header a {
  height: 100%;
  width: 100%;
}
.nav__header h3 {
  color: #ffffff;
  padding: 25px 0 6px;
}
.nav__header p {
  color: #ffffff;
}
.nav .nav__menu {
  background-color: #464866;
  display: block;
  text-align: center;
  height: 100%;
  padding: 10px 0;
}
.nav .nav__menu h3, .nav .nav__menu p {
  visibility: hidden;
  height: 0;
}
.nav__menu__item {
  padding: 15px 0;
  margin: auto;
}
.nav__menu__item a {
  font-weight: bold;
  color: #ffffff;
  font-size: 25px;
}
.nav__menu__item a:hover {
  color: #FF0700;
}

.drop__bar {
  display: none;
}
.drop__bar .drop__bar__line1, .drop__bar .drop__bar__line2, .drop__bar .drop__bar__line3 {
  display: block;
  width: 30px;
  height: 4px;
  margin: 6px auto;
  background-color: white;
}

.nav__socialmedia {
  text-align: center;
  background-color: #0C0032;
  margin-top: 15px;
  height: 100%;
  padding-top: 10px;
}
.nav__socialmedia a {
  border-radius: 2px;
  color: #ffffff;
  font-size: 30px;
  margin: auto 10px;
}
.nav__socialmedia a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  color: #FF0700;
}

.nav__horizontal__line1, .nav__horizontal__line2 {
  visibility: hidden;
}

.nav__name__language {
  visibility: hidden;
  height: 0;
  height: 0;
}

@media screen and (max-width: 700px) {
  .nav__header {
    display: block;
    margin: auto;
    padding-bottom: 0px;
  }
  .nav__header h3, .nav__header p {
    padding: 0px;
    visibility: hidden;
  }

  .nav__header__logo {
    height: 4rem;
    margin: 8px auto auto;
  }

  .nav {
    width: 100%;
    height: 95px;
    position: fixed;
  }
  .nav .nav__menu {
    position: fixed;
    left: -150%;
    top: 95px;
    z-index: 1;
    height: 100%;
    background-color: #464866;
    width: 100%;
    text-align: center;
    transition: 0.5s;
    padding-top: 10px;
  }
  .nav .nav__menu h3, .nav .nav__menu p {
    visibility: visible;
    color: white;
    height: auto;
  }
  .nav .nav__menu p {
    margin-bottom: -10px;
  }
  .nav .nav__menu .nav__menu__item {
    padding: 2px 0;
  }
  .nav .nav__menu .nav__menu__item a {
    font-size: 20px;
    color: white;
  }
  .nav .nav__menu .nav__menu__item a:hover {
    color: #FF0700;
  }

  .nav__name__language {
    visibility: visible;
    display: inline-block;
    position: absolute;
    right: 80%;
    bottom: 88px;
    font-size: 15px;
    color: white;
    margin-right: -35px;
  }

  .nav__flag1 {
    width: 1.2rem;
    position: absolute;
    right: 107%;
    top: 2.3px;
  }

  .nav__name__language li {
    cursor: pointer;
  }

  .nav__name__language li ul {
    display: none;
  }

  .nav__name__language li ul li {
    position: relative;
    text-align: left;
    padding: 5px;
    z-index: 2;
    font-size: 15px;
    margin-left: 20px;
  }
  .nav__name__language li ul li span {
    color: black;
    font-weight: bold;
  }

  .nav__name__language li:hover ul {
    position: absolute;
    top: 23px;
    right: -20px;
    display: block;
    background: white;
    width: 90px;
    padding-top: 0px;
    z-index: 1;
    border-radius: 5px;
  }

  .nav__name__language li:hover .nav__triangle {
    position: absolute;
    top: 12px;
    right: -11px;
    z-index: 10;
    height: 14px;
    overflow: hidden;
    width: 30px;
    background: transparent;
  }

  .nav__name__language li:hover .nav__triangle:after {
    content: "";
    display: block;
    z-index: 20;
    width: 15px;
    transform: rotate(45deg) translateY(0px) translatex(10px);
    height: 15px;
    background: white;
    border-radius: 2px 0px 0px 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }

  .nav__flag2 {
    display: inline-block;
    width: 20px;
    height: 15px;
    position: absolute;
    top: 9px;
    right: 67px;
    background-image: url("/img/germanflag.svg");
  }

  .nav__horizontal__line1 {
    visibility: visible;
    display: inline-block;
    border: 2px solid #FF0700;
    border-radius: 100%;
    width: 70%;
    margin-bottom: -2px;
  }

  .nav__horizontal__line2 {
    visibility: visible;
    display: inline-block;
    border: 2px solid #FF0700;
    border-radius: 100%;
    width: 70%;
    margin-bottom: 10px;
  }

  .drop__bar {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 15%;
    top: 32%;
  }

  .drop__bar__line1, .drop__bar__line2, .drop__bar__line3 {
    transition: 0.4s;
  }

  .change .drop__bar__line1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 9px);
    transform: rotate(-45deg) translate(-8px, 6px);
    height: 4px;
  }

  .change .drop__bar__line2 {
    opacity: 0;
    height: 4px;
  }

  .change .drop__bar__line3 {
    -webkit-transform: rotate(45deg) translate(-9px, -9px);
    transform: rotate(45deg) translate(-8px, -6px);
    height: 4px;
  }

  .nav__menu.active {
    left: 0;
  }

  .nav__empty {
    display: none;
  }

  .nav__socialmedia {
    text-align: center;
    background-color: #464866;
    margin-top: -10px;
    padding-top: 0px;
  }
  .nav__socialmedia a {
    border-radius: 2px;
    color: #ffffff;
    font-size: 30px;
    margin: auto 7px;
  }
  .nav__socialmedia a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    color: #FF0700;
  }
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px 0 40px;
}

.contact__form {
  width: 37%;
  font-size: 22px;
  display: block;
}

input[type=text], textarea {
  display: flex;
  flex-direction: column;
  background-color: #659DBD;
  color: white;
  width: 100%;
  padding: 12px;
  border-radius: 15px;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 22px;
  font-family: Georgia, "Times New Roman", Times, serif;
  outline: none;
  resize: vertical;
}

input[type=text]:hover, textarea:hover {
  border: 2px solid #FF0700;
}

input[type=submit] {
  background-color: #FF0700;
  color: white;
  padding: 10px 10px;
  border-radius: 15px;
  border: 2px solid #464866;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 30%;
  position: relative;
  left: 35%;
  text-align: center;
}

input[type=submit]:hover {
  background-color: lightcoral;
  filter: drop-shadow(1px 1px 10px red);
}

form > label {
  font-weight: bold;
  color: white;
}

.contact__vertical__line {
  border: 2px solid white;
  height: 500px;
  margin: 80px 100px 0 100px;
  border-radius: 100%;
}

.contact__horizontal__line {
  display: none;
}

.contact__text {
  padding-top: 5px;
  display: grid;
  columns: 1;
  row-gap: 22px;
  text-align: center;
  font-size: 22px;
}
.contact__text p {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.contact__text__phone__icon1, .contact__text__email__icon2 {
  font-size: 80px;
  -webkit-transition: all 1s ease;
  /*reversed animation on mouse out events*/
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  color: #659DBD;
}
.contact__text__phone__icon1:hover, .contact__text__email__icon2:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.contact__text__phone p {
  padding-top: 10px;
}

.contact__text__email p {
  padding-bottom: 10px;
}

.contact__text__address p:nth-child(2) {
  padding-top: 10px;
}

@media only screen and (max-width: 1100px) {
  .contact {
    flex-direction: column;
    padding: 15px 0 50px;
  }

  .contact__form {
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
    font-size: 18px;
  }

  input[type=text], textarea {
    font-size: 18px;
  }

  input[type=submit] {
    font-size: 18px;
  }

  .contact__vertical__line {
    display: none;
  }

  .contact__horizontal__line {
    display: inline-block;
    border: 2px solid white;
    border-radius: 100%;
    width: 70%;
    margin: 20px auto;
  }

  .contact__text {
    padding-top: 20px;
    row-gap: 30px;
    margin-bottom: -20px;
  }
  .contact__text p {
    font-size: 20px;
  }

  .contact__text__address p:nth-child(2) {
    padding-top: 5px;
  }
}
@media only screen and (max-width: 700px) {
  .contact__text__phone__icon1, .contact__text__email__icon2 {
    font-size: 80px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
  }
  .contact__text__phone__icon1:hover, .contact__text__email__icon2:hover {
    transform: none;
    cursor: auto;
  }

  input[type=submit]:hover {
    background-color: #FF0700;
    filter: none;
    transform: none;
  }
}
.projects {
  padding: 35px 0 30px;
  margin: auto;
}

.projects__portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 60px;
}

.projects__portfolio__item {
  background-color: #464866;
  border-bottom-style: solid;
  border-bottom-color: #FF0700;
  border-radius: 10px;
}
.projects__portfolio__item h3 {
  text-align: center;
  padding-top: 10px;
  color: white;
}
.projects__portfolio__item p {
  padding: 10px 20px;
  text-align: left;
}
.projects__portfolio__item a {
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 40px;
}
.projects__portfolio__item a:hover {
  color: #FF0700;
}

.flipbox {
  max-width: 200px;
  height: 200px;
  cursor: pointer;
  margin: auto;
}

.flipbox__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipbox:hover .flipbox__inner {
  transform: rotateY(180deg);
}

.flipbox__front, .flipbox__front1, .flipbox__front2, .flipbox__back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipbox__front {
  background-color: #d6c6b4;
  z-index: 1;
}

.flipbox__front1 {
  background-color: #116466;
  z-index: 1;
}

.flipbox__front2 {
  background-color: white;
  z-index: 1;
}

.flipbox__back {
  background-color: #659DBD;
  transform: rotateY(180deg);
  z-index: 2;
}

.flip__img1, .flip__img2 {
  max-width: 70%;
  position: relative;
  top: 15%;
}

.pulse img {
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
#myImg1 {
  border-radius: 5px;
  transition: 0.3s;
}

.myImg1 {
  max-width: 90%;
  position: relative;
  top: 9%;
}

.myImg2 {
  max-width: 90%;
  position: relative;
  top: 14%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable to scroll */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black + opacity */
}

.modal__content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 950px;
}

#caption {
  margin: auto;
  text-align: center;
  color: white;
  padding-top: 10px;
}

.modal__content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 60px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover, .close:focus {
  color: #FF0700;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 1560px) {
  .projects__portfolio {
    grid-template-columns: 1fr 1fr;
  }

  .modal__content {
    width: 80%;
  }

  .close {
    font-size: 50px;
  }
}
@media only screen and (max-width: 1080px) {
  .projects__portfolio {
    grid-template-columns: 1fr;
    margin: auto 100px;
  }

  .modal {
    padding-top: 100px;
  }

  .modal__content {
    width: 85%;
  }

  .close {
    bottom: 100%;
    right: 45%;
  }
}
@media only screen and (max-width: 900px) {
  .projects {
    padding: 25px 0 30px;
  }

  .projects__portfolio {
    margin: auto 20px;
  }
  .projects__portfolio p {
    text-align: left;
  }

  .modal__content {
    width: 90%;
  }
}
@media only screen and (max-width: 700px) {
  .projects {
    padding: 20px 0 30px;
    margin: auto;
  }

  .projects__portfolio {
    margin: auto 50px;
  }
  .projects__portfolio p {
    text-align: left;
  }

  .projects__portfolio__item h3 {
    font-size: 20px;
  }

  .modal__content {
    width: 90%;
  }
}
@media only screen and (max-width: 500px) {
  .projects__portfolio {
    margin: auto 25px;
  }
}
.home {
  padding-bottom: 30px;
}

.home__name {
  margin: auto -40px 30px;
  color: white;
  font-weight: bold;
  display: block;
  background: url(/img/background.webp) center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size: cover;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
}

.home__name__language {
  display: inline-block;
  position: relative;
  left: 100%;
  padding-top: 25px;
  margin-left: -130px;
}

.home__flag1 {
  width: 2rem;
  position: absolute;
  right: 116%;
}

.home__name__language li {
  cursor: pointer;
}

.home__name__language li ul {
  display: none;
}

.home__name__language li ul li {
  position: relative;
  text-align: left;
  padding: 10px 15px;
  z-index: 2;
  font-size: 16px;
  margin-left: 28px;
}
.home__name__language li ul li span {
  color: black;
}
.home__name__language li ul li span:hover {
  color: #FF0700;
}

.home__name__language li:hover ul {
  position: absolute;
  top: 55px;
  right: -15px;
  display: block;
  background: white;
  width: 120px;
  padding-top: 0px;
  z-index: 1;
  border-radius: 5px;
}

.home__name__language li:hover .home__triangle {
  position: absolute;
  top: 42px;
  right: -10px;
  z-index: 10;
  height: 14px;
  overflow: hidden;
  width: 30px;
  background: transparent;
}

.home__name__language li:hover .home__triangle:after {
  content: "";
  display: block;
  z-index: 20;
  width: 15px;
  transform: rotate(45deg) translateY(0px) translatex(10px);
  height: 15px;
  background: #fff;
  border-radius: 2px 0px 0px 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.home__flag2 {
  display: inline-block;
  width: 25px;
  height: 19px;
  position: absolute;
  top: 12px;
  right: 84px;
  background-image: url("/img/germanflag.svg");
}

.home__name__header {
  margin-top: -19px;
}
.home__name__header li:nth-child(1) {
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 5px;
  animation: typing 5s steps(100, end) both;
  font-size: 60px;
  margin: auto;
  text-align: center;
}
.home__name__header li:nth-child(1) a {
  color: white;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 5px;
}
.home__name__header li:nth-child(1) a:hover {
  color: lightcoral;
  filter: drop-shadow(1px 1px 10px red);
}
.home__name__header li:nth-child(2) {
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 5px;
  animation: typing 5s steps(100, end) both;
  animation-delay: 2s;
  font-size: 40px;
  margin: -10px auto auto;
  text-align: center;
}
.home__name__header li:nth-child(3) {
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 5px;
  animation: typing 5s steps(100, end) both;
  animation-delay: 4s;
  font-size: 30px;
  padding: 28px 0 40px;
  margin: auto;
  text-align: center;
  font-style: italic;
}
.home__name__header li:nth-child(4) {
  padding-bottom: 35px;
  text-align: center;
}
.home__name__header li:nth-child(4) button {
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 5px 7px;
  background-color: #FF0700;
  border-radius: 50px;
  border: 2px solid #464866;
  color: white;
  cursor: pointer;
}
.home__name__header li:nth-child(4) button:hover {
  background-color: lightcoral;
  filter: drop-shadow(1px 1px 10px red);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.home__text {
  text-align: center justify;
  width: 80%;
  margin: auto;
  padding-bottom: 30px;
}

.home__skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* same sized column */
  column-gap: 30px;
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}

.home__skills__text1, .home__skills__img1 {
  grid-column: 1;
  grid-row: 1;
}

.home__skills__text2, .home__skills__img2 {
  grid-column: 2;
  grid-row: 1;
}

.home__skills__text3, .home__skills__img3 {
  grid-column: 3;
  grid-row: 1;
}

.home__skills__text4, .home__skills__img4 {
  grid-column: 4;
  grid-row: 1;
}

.home__skills__text1, .home__skills__text2, .home__skills__text3, .home__skills__text4 {
  border-radius: 5px;
  background-color: #659DBD;
  border-bottom-style: solid;
  border-bottom-color: #FF0700;
  height: 70%;
}
.home__skills__text1 p, .home__skills__text2 p, .home__skills__text3 p, .home__skills__text4 p {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  color: white;
  font-weight: bold;
  padding-top: 5px;
}

.home__skills__img1, .home__skills__img2 {
  max-width: 60px;
  height: auto;
  margin: auto;
  position: relative;
  top: 90%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.home__skills__img1:hover, .home__skills__img2:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.home__skills__img3 {
  max-width: 65px;
  height: auto;
  margin: auto;
  position: relative;
  top: 90%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.home__skills__img3:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.home__skills__img4 {
  max-width: 75px;
  height: auto;
  margin: auto;
  position: relative;
  top: 90%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.home__skills__img4:hover {
  transform: scale(1.3);
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .home__name__language {
    font-size: 15px;
    margin-left: -100px;
  }

  .home__flag1 {
    width: 1.5rem;
  }

  .home__flag2 {
    width: 22px;
    height: 16px;
    top: 8px;
    right: 73px;
  }

  .home__name__language li ul li {
    padding: 5px;
    font-size: 15px;
    margin-left: 28px;
  }

  .home__name__language li:hover ul {
    position: absolute;
    top: 48px;
    right: -20px;
    display: block;
    background: white;
    width: 100px;
    padding-top: 0px;
    z-index: 1;
    border-radius: 5px;
  }

  .home__name__language li:hover .home__triangle {
    top: 37px;
    right: -11px;
    z-index: 10;
    height: 14px;
    overflow: hidden;
    width: 30px;
    background: transparent;
  }

  .home__name__header {
    margin-top: -13px;
  }

  .home__text {
    width: auto;
    margin: auto 20px;
  }

  .home__skills {
    grid-template-columns: repeat(2, 1fr);
    /* same sized column */
    column-gap: 100px;
    row-gap: 80px;
    width: 80%;
  }

  .home__skills__text3, .home__skills__img3 {
    grid-column: 1;
    grid-row: 2;
  }

  .home__skills__text4, .home__skills__img4 {
    grid-column: 2;
    grid-row: 2;
  }

  .home__skills__text1 p, .home__skills__text2 p, .home__skills__text3 p, .home__skills__text4 p {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 1080px) {
  .home__name__header {
    margin-top: 0px;
  }
  .home__name__header li:nth-child(1) {
    animation: typing 2s steps(100, end) both;
  }
  .home__name__header li:nth-child(1) a {
    font-size: 45px;
    letter-spacing: 1px;
  }
  .home__name__header li:nth-child(2) {
    animation: typing 2s steps(100, end) both;
    animation-delay: 2s;
    font-size: 26px;
    letter-spacing: 1px;
  }
  .home__name__header li:nth-child(3) {
    animation: typing 2s steps(100, end) both;
    animation-delay: 4s;
    font-size: 24px;
    letter-spacing: 1px;
    padding: 31px 0 20px;
  }
  .home__name__header li:nth-child(4) {
    padding: 20px 0 50px;
  }
  .home__name__header li:nth-child(4) button {
    font-size: 10px;
  }

  .home__skills {
    width: 90%;
  }
}
@media only screen and (max-width: 700px) {
  .home__name__language {
    display: none;
  }

  .home__name {
    background-attachment: scroll;
    margin: 95px auto 20px;
  }

  .home__name__header {
    margin-top: 0;
  }
  .home__name__header li:nth-child(1) {
    animation: typing 2s steps(100, end) both;
    margin: auto;
  }
  .home__name__header li:nth-child(1) a {
    font-size: 40px;
  }
  .home__name__header li:nth-child(1) a:hover {
    color: white;
    filter: none;
    transform: none;
  }
  .home__name__header li:nth-child(2) {
    animation: typing 2s steps(100, end) both;
    animation-delay: 2s;
    font-size: 22px;
  }
  .home__name__header li:nth-child(3) {
    animation: typing 2s steps(100, end) both;
    animation-delay: 4s;
    font-size: 20px;
    padding: 30px 0 0x;
  }
  .home__name__header li:nth-child(4) {
    padding: 10px 0 30px;
  }
  .home__name__header li:nth-child(4) button:hover {
    background-color: #FF0700;
    filter: none;
    transform: none;
  }

  .home__text {
    text-align: left;
    margin: auto 25px;
    padding-bottom: 20px;
  }

  .home__skills {
    width: 80%;
    padding-bottom: 40px;
    row-gap: 55px;
    column-gap: 30px;
    margin: auto;
  }

  .home__skills__text1, .home__skills__text2, .home__skills__text3, .home__skills__text4 {
    height: 50%;
  }
  .home__skills__text1 p, .home__skills__text2 p, .home__skills__text3 p, .home__skills__text4 p {
    font-size: 20px;
    padding-top: 0px;
  }

  .home__skills__img1, .home__skills__img2 {
    top: 60%;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
  }
  .home__skills__img1:hover, .home__skills__img2:hover {
    transform: none;
    cursor: auto;
  }

  .home__skills__img3 {
    top: 64%;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
  }
  .home__skills__img3:hover {
    transform: none;
    cursor: auto;
  }

  .home__skills__img4 {
    top: 65%;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
  }
  .home__skills__img4:hover {
    transform: none;
    cursor: auto;
  }
}
.message {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.message h1, h2 {
  color: white;
  padding: 20px 0;
}

.message a {
  color: #FF0700;
}

.message a:hover {
  filter: drop-shadow(1px 1px 10px red);
}

.message__smile {
  max-width: 100px;
  position: absolute;
  right: 80px;
  bottom: 190px;
}

@media only screen and (max-width: 1023px) {
  .message h1 {
    padding: 0;
  }

  .message__smile {
    position: relative;
    right: 0px;
    top: 5px;
  }
}
@media only screen and (max-width: 700px) {
  .message h1 {
    font-size: 30px;
    padding: 20px 0;
  }

  .message h2 {
    font-size: 25px;
    margin: 0;
  }

  .message__smile {
    max-width: 80px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  margin: auto -40px;
  text-align: center;
  background-color: #0C0032;
  padding: 10px 0 20px;
}

.footer__socialmedia a {
  display: inline-block;
  border-radius: 2px;
  color: #ffffff;
  margin: auto 10px;
  font-size: 50px;
}

.footer__copyright {
  color: white;
}

/* hover social media logo */
.footer__socialmedia a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  color: #FF0700;
}

/* Media Queries */
@media screen and (max-width: 700px) {
  footer {
    margin: auto;
  }

  .footer__copyright {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */
