.about-me {
    padding: 20px 0 15px;
    p {
        @extend .hyphens;
    }

    p:nth-child(2) {
        padding-bottom: 5px;
    }

    p:nth-child(3),
    p:nth-child(4) {
        padding: 5px 0;
    }

    p:nth-child(5) {
        padding-top: 5px;
    }

    p:nth-child(6) {
        padding-top: 15px;
        text-align: center;
        font-size: 1.5rem;
    }
  
    &__photo {
        margin: 10px 40px 15px 0;
        float: left;
        img {
            max-width: 19rem;
            height: auto;
            border-radius: 50%;
            filter: drop-shadow(1px 1px 10px $first-hover);
        }
    }

    div  {
        text-align: center;
        i {
            font-size: 3rem;
            color: $text-color;
        }
    }
}
  
 @media only screen and (max-width: 1200px) {
    
    .about-me {
        padding: 10px 0 30px;
        display: flex;
        flex-direction: column;

        p:nth-child(6) {
            padding: 20px 0;
            font-size: 1.3rem;
        }

        &__photo {
            margin: auto;
            padding-top: 20px;
            float: none;
            order: 1;
        } 

        div i { 
            display: none;
        }
    }
}
    
@media only screen and (max-width: 700px) {
    
    .about-me {
        padding: 10px 0 18px;
        margin: auto;
        width: 80%;
        p:nth-child(6) {
            padding: 10px 0;
            font-size: 1.15rem;
        }
        
        &__photo {
            padding-top: 10px;
        } 
    }
}
  
@media only screen and (max-width: 500px) {
    
    .about-me {
        width: 100%;
        &__photo img {
            max-width: 17.5rem;
        }
    }
}