$first-hover:#FF0700;

.about-me {
    padding: 20px 0 25px;
    p {
        @extend .hyphens;
    }

    p:nth-child(2) {
        padding-bottom: 10px;
    }

    p:nth-child(3) {
        padding: 10px 0;
    }

    p:nth-child(4) {
        padding-top: 10px;
    }
  
    &__photo {
        margin: 20px 40px 10px 0;
        float: left;
        img {
            max-width: 18.75rem;
            height: auto;
            border-radius: 50%;
            filter: drop-shadow(1px 1px 10px $first-hover);
        }
    }
}
  
 @media only screen and (max-width: 1200px) {
    
    .about-me {
        padding: 10px 0 20px;
        display: flex;
        flex-direction: column;
        &__photo {
            margin: auto;
            padding-top: 20px;
            float: none;
            order: 1;
        }
    }
}
    
@media only screen and (max-width: 700px) {
    
    .about-me {
        padding: 10px 0 18px;
        margin: auto;
        width: 80%;

        p:nth-child(2) {
            padding-bottom: 5px;
        }
    
        p:nth-child(3) {
            padding: 5px 0;
        }
    
        p:nth-child(4) {
            padding-top: 5px;
        }
    }
}
  
@media only screen and (max-width: 500px) {
    
    .about-me {
        width: 100%;
        &__photo img {
            max-width: 17.5rem;
        }
    }
}
    
    
  


















