$second-hover:#FF0700;

.aboutme {
    padding: 20px 0 25px;
    p {
        hyphens: auto;
        -webkit-hyphens: auto;
        -webkit-hyphenate-limit-before: 3;
        -webkit-hyphenate-limit-after: 3;
        -webkit-hyphenate-limit-chars: 6 3 3;
        -webkit-hyphenate-limit-lines: 2;
        -webkit-hyphenate-limit-last: always;
        -webkit-hyphenate-limit-zone: 8%;
    }

    p:nth-child(2) {
        padding-bottom: 10px;
    }

    p:nth-child(3) {
        padding: 10px 0;
    }

    p:nth-child(4) {
        padding-top: 10px;
    }
  
    &__photo {
        margin: 5px 40px 10px 0;
        float: left;
        img {
            max-width: 18.75rem;
            height: auto;
            border-radius: 50%;
            filter: drop-shadow(1px 1px 10px $second-hover);
        }
    }
}
  
 @media only screen and (max-width: 1200px) {
    
    .aboutme {
        padding: 10px 0 20px;
        display: flex;
        flex-direction: column;
        &__photo {
            margin: auto;
            padding-top: 20px;
            float: none;
            order: 1;
        }
    }
}
    
@media only screen and (max-width: 700px) {
    
    .aboutme {
        padding: 10px 0 18px;
        margin: auto;
        width: 80%;
        p { 
            hyphens: none;
        }
    }
}
  
@media only screen and (max-width: 500px) {
    
    .aboutme {
        width: 100%;
        &__photo img {
            max-width: 17.5rem;
        }
    }
}
    
    
  











