$first-color: #0C0032;						
$second-color: #464866;		
$third-color: #211A36;	
$contact-form: #edf5e1;
$main-font: Georgia, 'Times New Roman', Times, serif;
$hover:#2079AC;
$hover-menu:#FF0700;
$text-color:white;

.home {
    padding-bottom: 30px;
  
    &__name {
        margin: auto -40px 30px;
        color: $text-color;
        font-weight: bold;
        display: block;
        background: url(/img/background.webp) center center no-repeat;		
        background-attachment: fixed;
        background-size: cover;
    }
  
    &__name__language {
        display: inline-block;
        position: relative;
        left:100%;
        padding-top:25px;
        margin-left: -130px;
    
    &__flag1 {
        width: 3rem;
        position: absolute;
        right:115%;
        top:22px;
    }
  
    & li {
        cursor: pointer;
    }
  
    & li ul {
        display: none;
    }
  
    & li ul li {
        position: relative;
        text-align: left;
        padding: 10px 15px;
        z-index: 2;
        font-size: 1rem;
        margin-left: 28px;
        span {
        color: black;
            &:hover {
                color: $hover-menu;
            }
        }
    }
  
    & li:hover ul {
        position: absolute;
        top:55px;
        right:-15px;
        display: block;
        background: $text-color;
        width: 120px;
        padding-top: 0px;
        z-index: 1;
        border-radius:5px;
    }
  
    &__triangle {
        position: absolute;
        top: 42px;
        right: -10px;
        z-index:10;
        height: 14px;
        overflow:hidden;
        width: 30px;
        background: transparent;
    }
  
    li:hover &__triangle:after {
        content: '';
        display: block;
        z-index: 20;
        width: 15px;
        transform: rotate(45deg) translateY(0px) translatex(10px);
        height: 15px;
        background: #fff;
        border-radius:2px 0px 0px 0px;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    }
  
    &__flag2 {
        display: inline-block;
        width: 29px;
        height: 22px;
        position: absolute;
        top: 10px;
        right: 82px;
        background-image: url("/img/germanflag.svg");
    }
}
  
    &__name__header {
        margin-top:-19px;
        text-align: center;
        li:nth-child(1) {
            overflow: hidden;
            white-space: nowrap;
            letter-spacing: 5px; 
            animation: typing 5s steps(100, end) both;
            font-size: 3.75rem;
            margin: auto;
            a {
                color: $text-color;
                font-weight: bold;
                &:hover {
                    color: lightcoral;
                    filter: drop-shadow(1px 1px 5px $hover-menu);
                }
            }
        }
  
        li:nth-child(2) {
            overflow: hidden;
            white-space: nowrap;
            letter-spacing: 5px; 
            animation: typing 5s steps(100, end) both;
            animation-delay: 2s;
            font-size: 2.5rem;
            margin: -10px auto auto;
        }  
  
        li:nth-child(3) {
            overflow: hidden;
            white-space: nowrap;
            letter-spacing: 5px; 
            animation: typing 5s steps(100, end) both;
            animation-delay: 4.5s;
            font-size: 1.875rem;
            padding: 28px 0 40px;
            margin: auto;
            font-style: italic;     
        }  
  
        li:nth-child(4) {   
            padding-bottom: 35px;
            button {
                font-weight: bold;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size: 0.875rem;
                letter-spacing: 1px; 
                padding:5px 7px;
                background-color: $hover-menu;
                border-radius:50px;
                border: 2px solid $second-color;
                color: $text-color;
                cursor: pointer;
                &:hover {
                    background-color: lightcoral;
                    filter: drop-shadow(1px 1px 5px red);
                }
            }
        }
    }
  
    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }
  
    &__text {
        text-align: center justify;
        width: 80%;
        margin: auto;
        padding-bottom:30px;
        hyphens: auto;
        -webkit-hyphens: auto;
        -webkit-hyphenate-limit-before: 3;
        -webkit-hyphenate-limit-after: 3;
        -webkit-hyphenate-limit-chars: 6 3 3;
        -webkit-hyphenate-limit-lines: 2;
        -webkit-hyphenate-limit-last: always;
        -webkit-hyphenate-limit-zone: 8%;
    }
  
    &__skills {
        display: grid;
        grid-template-columns: repeat(4, 1fr);  /* same sized column */
        column-gap: 30px;
        width: 80%;
        margin: auto;
        padding-bottom: 50px;
  
    &__text1, &__img1 {
        grid-column: 1;
        grid-row: 1;
    }
  
    &__text2, &__img2 {
        grid-column: 2;
        grid-row: 1;
    }
  
    &__text3, &__img3 {
        grid-column: 3;
        grid-row: 1;
    }
  
    &__text4, &__img4 {
        grid-column: 4;
        grid-row: 1;
    }
  
    &__text1, &__text2, &__text3, &__text4 {
        border-radius: 5px;
        background-color: $hover;
        border-bottom-style: solid;
        border-bottom-color: $hover-menu;
        height: 70%;
        p {
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-size: 1.563rem;
            color: $text-color;
            font-weight: bold;
            padding-top:5px;
        }
    }
  
    &__img1, &__img2,  &__img3,  &__img4 {
        height: auto;
        margin: auto;
        position: relative;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }
  
    &__img1 {
        max-width: 60px;
        top:89%;
    }
  
    &__img2 {
        max-width: 60px;
        top:90%;
    }
  
    &__img3 {
        max-width: 65px;
        top:90%;
    }
  
    &__img4 {
        max-width: 73px;
        top:88%;
    }
}
}
  
@media only screen and (max-width: 1200px) {
  
.home__name__language {
    font-size: 0.938rem;
    margin-left: -100px;
  
    &__flag1 {
        width: 2rem;
        top:23px;
    }
    
    & li ul li {
        padding: 5px;
        font-size: 0.938rem;
    }
        
    & li:hover ul {
        top:48px;
        right:-20px;
        width: 100px;
    }
    
    &__triangle {
        top: 37px;
        right: -11px;
    }
    
    &__flag2 {
        width: 23px;
        height: 17px;
        top: 7px;
        right: 71px;
    }
}
    
.home__name__header {
    margin-top:-13px;
}
    
.home__text {
    width: auto;
    margin: auto 20px;
}
    
.home__skills {
    grid-template-columns: repeat(2, 1fr);  /* same sized column */
    column-gap: 100px;
    row-gap: 80px;
        
    &__text1, &__text2, &__text3, &__text4 {
        p {
            padding-bottom:20px;
        }
    }
    
    &__text3, &__img3 {
        grid-column: 1;
        grid-row: 2;
    }
    
    &__text4, &__img4 {
        grid-column: 2;
        grid-row: 2;
    }
    
    &__text1, &__text2 {
        height: 67%;
    }
    
    &__text3, &__text4 {
        height: 72%;
    }
    
    &__img1 {
        max-width: 60px;
        top:81%;
    }
        
    &__img2 {
        max-width: 60px;
        top:82%;
    }
}
}
    
@media only screen and (max-width: 1080px) {
    
.home__name__header {
    margin-top: 0px;
    
    li:nth-child(1) {
        animation: typing 3s steps(100, end) both;
        a {
            font-size: 2.813rem;
            letter-spacing: 1px; 
        }
    }
    
    li:nth-child(2) {
        animation: typing 3s steps(100, end) both;
        animation-delay: 2s;
        font-size: 1.625rem;
        letter-spacing: 1px; 
        }
    
    li:nth-child(3) {
        animation: typing 3s steps(100, end) both;
        animation-delay: 4s;
        font-size: 1.5rem;
        letter-spacing: 1px; 
        padding: 30px 0 20px;
        } 
    
    li:nth-child(4) {   
        padding: 20px 0 50px;
        button {
            font-size: 0.800rem;
        } 
    }  
}
    
.home__skills {
    width: 90%;
}
}
  
@media only screen and (max-width: 700px) {
  
.home {
    padding-bottom: 20px;
    }
  
.home__name {
    background-attachment: scroll;
    margin: 95px auto 20px;
    background-size: 700px;
    
    &__language {
        display: none;
    }
  
    &__header {
        margin-top:0;
        li:nth-child(1) {
            animation: typing 2s steps(100, end) both;
            a {
                font-size: 2.5rem;
            }
        }
  
        li:nth-child(2) {
            animation: typing 2s steps(100, end) both;
            font-size: 1.375rem;
            animation-delay: 2s;
        }  
  
        li:nth-child(3) {
            animation: typing 2s steps(100, end) both;
            font-size: 1.063rem;
            padding: 30px 0 0x;
            animation-delay: 4s;
        } 
  
        li:nth-child(4) {   
            padding: 10px 0 30px;
            button {
                font-size: 0.650rem;
                &:hover {
                    background-color: $hover-menu;
                    filter: none;
                    &:active {
                        color:lightskyblue;
                    }
                }
            }  
        }
    }
}
  
.home__text {
    text-align: left;    
    margin: auto 25px;
    padding-bottom:20px;
    hyphens: none;
}
  
.home__skills {
    width: 80%;
    padding-bottom: 40px;
    row-gap: 55px;
    column-gap: 30px;
  
    &__text1, &__text2,  &__text3, &__text4 {
        height: 60%;
        padding-top: 2px;
        p {
            font-size: 1.25rem;
            padding:0px ;
        }
    }
  
    &__img1 {  
        top:65%;
        max-width: 50px;
    }
  
    &__img2 {  
        top:66%;
        max-width: 50px;
    }
  
    &__img3 {
        top:68%;
        max-width: 55px;
    }
  
    &__img4 {
        top:67%;
        max-width: 63px;
    } 
}
}