$first-color: #0C0032;						
$second-color: #464866;		
$third-color: #211A36;	
$contact-form: #edf5e1;
$hover:#2079AC;
$hover-menu:#FF0700;
$text-color:white;
$main-font: Georgia, 'Times New Roman', Times, serif;

.home {

    &__name {
        margin: auto -80px;
        color: $text-color;
        font-weight: bold;
        display: block;
        background: url(/img/background.webp) center center no-repeat;	
        background-attachment: fixed;
        background-size: cover;
  
        &__language {
            display: inline-block;
            position: relative;
            left: 100%;
            padding-top: 25px;
            margin-left: -130px;
    
            ul {
                display: none;
                padding: 35px;
                a {
                    display: block;
                    line-height: 0;
                }
                span {
                    display: block;
                    position: relative;
                    left: 12px;
                    top: 17px;
                    font-size: 1rem;
                    color: black;
                    &:hover {
                        color: $hover-menu;
                    }
                }
            }
            
            li:hover ul {
                position: absolute;
                top: 55px;
                display: block;
                background: $text-color;
                width: 120px;
                padding-top: 0px;
                z-index: 1;
                border-radius: 5px;
            }
            
            img {
                width: 3rem;
                position: absolute;
                right: 112%;
                top: 22px;
            }
            
            &__triangle {
                position: absolute;
                top: 42px;
                left: 75px;
                z-index: 1;
                height: 14px;
                overflow:hidden;
                width: 30px;
                background: transparent;
            }
        
            li:hover &__triangle:after {
                content: '';
                display: block;
                z-index: 2;
                width: 15px;
                transform: rotate(45deg) translateY(0px) translatex(10px);
                height: 15px;
                background: $text-color;
                border-radius: 2px;
            }
            
            i:nth-child(1) {
                display: block;
                width: 36px;
                height: 25px;
                position: absolute;
                bottom: 5px;
                right: 78px;
                cursor:auto;
                background-image: url("/img/logo/germanflag.svg");
            }
        
            i:nth-child(2) {
                position: relative;
                left: 5px;
                cursor: pointer;
            }
        }
    
        &__header {
            margin-top:-19px;
            text-align: center;
            li:nth-child(1) {
                overflow: hidden;
                white-space: nowrap;
                letter-spacing: 5px; 
                animation: typing 5s steps(100, end) both;
                font-size: 3.75rem;
                margin: auto;
                a {
                    color: $text-color;
                    font-weight: bold;
                    &:hover {
                        color: lightcoral;
                        filter: drop-shadow(1px 1px 5px $hover-menu);
                    }
                }
            }
    
            li:nth-child(2) {
                overflow: hidden;
                white-space: nowrap;
                letter-spacing: 5px; 
                animation: typing 5s steps(100, end) both;
                animation-delay: 2s;
                font-size: 2.5rem;
                margin: -10px auto auto;
            }  
    
            li:nth-child(3) {
                overflow: hidden;
                white-space: nowrap;
                letter-spacing: 5px; 
                animation: typing 5s steps(100, end) both;
                animation-delay: 4.5s;
                font-size: 1.875rem;
                padding: 28px 0 40px;
                margin: auto;
                font-style: italic;     
            }  
    
            li:nth-child(4) {   
                padding-bottom: 66px;
                a {
                    display: block;
                    height: 0;
                }
                button {
                    font-weight: bold;
                    font-family:Georgia, 'Times New Roman', Times, serif;
                    font-size: 0.875rem;
                    letter-spacing: 1px; 
                    padding: 5px 12px;
                    background-color: $hover-menu;
                    border-radius:50px;
                    border: 2px solid $hover;
                    color: $text-color;
                    cursor: pointer;
                    &:hover {
                        background-color: lightcoral;
                        filter: drop-shadow(1px 1px 5px $hover-menu);
                    }
                }
            }
        }
    } 
  
    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }
  
    &__text {
        width: 80%;
        margin: auto;
        padding: 20px 0;
        hyphens: auto;
        -webkit-hyphens: auto;
        -webkit-hyphenate-limit-before: 3;
        -webkit-hyphenate-limit-after: 3;
        -webkit-hyphenate-limit-chars: 6 3 3;
        -webkit-hyphenate-limit-lines: 2;
        -webkit-hyphenate-limit-last: always;
        -webkit-hyphenate-limit-zone: 8%;
    }
  
    &__skills {
        display: grid;
        grid-template-columns: repeat(4, 1fr);  /* same sized column */
        column-gap: 30px;
        width: 80%;
        margin: auto;
        padding-bottom: 30px;
        p {
            position: relative; 
            top: 7px;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-size: 1.563rem;
            color: $text-color;
            font-weight: bold;
        }
  
        &__text1 {
            grid-column: 1;
            grid-row: 1;
        }
    
        &__text2 {
            grid-column: 2;
            grid-row: 1;
        }
    
        &__text3 {
            grid-column: 3;
            grid-row: 1;
        }
    
        &__text4 {
            grid-column: 4;
            grid-row: 1;
        }
    
        &__text1, &__text2, &__text3, &__text4 {
            border-radius: 10px;
            background-color: $hover;
            border-bottom-style: solid;
            border-bottom-color: $hover-menu;
            height: 45%;
        
            div {
                text-align: center;
            }
    
            img {
            position: relative;
    
            }
        }
  
        &__text1 img, &__text2 img {
            max-width: 60px;
            top: 22px;
        }
            
        &__text3 img {
            max-width: 65px;
            top: 25px;
        }
    
        &__text4 img {
            max-width: 73px;
            top: 23px;
        }
    }
}
    
@media only screen and (max-width: 1200px) {
  
    .home {   
    
        &__name__language {
            font-size: 0.938rem;
            margin-left: -130px;
            img {
                width: 2rem;
                top: 23px;
            }
            
            ul {
                padding: 28px;
                font-size: 0.938rem;
                span {
                    top: 13px;
                    left: 9px;
                    font-size: 0.9rem;
                }  
            }
                
            li:hover ul {
                top: 48px;
                right: -25px;
                width: 100px;
            }
            
            &__triangle {
                top: 37px;
                left: 52px;
            }
            
            i:nth-child(1) {          
                width: 28px;
                height: 20px;
                top: 4px;
                left: 5px;
            }

            i:nth-child(2) {
                left: 3px;   
            }
        }
            
        &__name__header {
        
            li:nth-child(1) {
                animation: typing 3s steps(100, end) both;
                a {
                    font-size: 2.813rem;
                    letter-spacing: 1px; 
                }
            }
        
            li:nth-child(2) {
                animation: typing 3s steps(100, end) both;
                animation-delay: 2s;
                font-size: 1.625rem;
                letter-spacing: 1px; 
            }
            
            li:nth-child(3) {
                animation: typing 3s steps(100, end) both;
                animation-delay: 4s;
                font-size: 1.45rem;
                letter-spacing: 1px; 
                padding: 30px 0 22px;
            } 
            
            li:nth-child(4) {   
                padding: 20px 0 72px;
                button {
                    font-size: 0.775rem;
                } 
            }  
        }
        
        &__text {
            width: 100%;
        }
    
        &__skills {
            width: 100%;
            column-gap: 40px;
            p {
                font-size: 1.4rem;
                top: 9px;
            } 
        }
    }
}

@media only screen and (max-width: 900px) {
  
    .home__skills {
        grid-template-columns: repeat(2, 1fr);  /* same sized column */
        column-gap: 70px;
        row-gap: 95px;
        padding-bottom: 95px;

        &__text1, &__text2, &__text3, &__text4 {
            height: 52px;
        }
            
        &__text3 {
            grid-column: 1;
            grid-row: 2;
        }
        
        &__text4  {
            grid-column: 2;
            grid-row: 2;
        }
        
        &__text3 img {
            top: 25px;
        }
        
        &__text4 img {
            top: 23px;
        }
    }
}
    
@media only screen and (max-width: 700px) {
  
    .home {
        &__name {
            background-attachment: scroll;
            margin: 80px -20px 0;
            background-size: 700px;
            
            &__language {
                display: none;
            }
            
            &__header {
                margin-top: 0;
                li:nth-child(1) {
                    animation: typing 2s steps(100, end) both;
                    a {
                        font-size: 2.5rem;
                        pointer-events: none;
                        &:hover {
                            color: $text-color;
                            filter: none;
                        }
                    }
                }
        
                li:nth-child(2) {
                    animation: typing 2s steps(100, end) both;
                    font-size: 1.375rem;
                    animation-delay: 2s;
                }  
            
                li:nth-child(3) {
                    animation: typing 2s steps(100, end) both;
                    font-size: 1.063rem;
                    padding: 30px 0 0;
                    animation-delay: 4s;
                } 
            
                li:nth-child(4) {   
                    padding: 20px 0 60px;
                    button {
                        padding: 4px 10px;
                        font-size: 0.675rem;
                        &:hover {
                            background-color: $hover-menu;
                            filter: none;
                            &:active {
                                color:lightskyblue;
                            }
                        }
                    }  
                }
            }
        }
        
        &__text {
            hyphens: none;
            width: 80%;
        }
            
        &__skills {
            row-gap: 70px;
            column-gap: 50px;
            width: 80%;
            padding-bottom: 75px;
            p {
                font-size: 1.25rem;
                top: 4px;
            }
        
            &__text1, &__text2,  &__text3, &__text4 {
                height: 40px;         
            }
        
            &__text1 img, &__text2 img {
                max-width: 50px;
                top: 13px;
            }
            
            &__text3 img {
                max-width: 55px;
                top: 15.5px;
            }
            
            &__text4 img {
                max-width: 60px;
                top: 14px;
            }
        }
    }
}
  
@media only screen and (max-width: 500px) {

    .home {
        &__name__header {
            margin-top: 0;
            li:nth-child(1) {
                animation: typing 2s steps(100, end) both;
                a {
                    font-size: 2.2rem;
                    pointer-events: none;
                    &:hover {
                        color: $text-color;
                        filter: none;
                    }
                }
            }
    
            li:nth-child(2) {
                animation: typing 2s steps(100, end) both;
                font-size: 1.2rem;
                animation-delay: 2s;
            }  
        
            li:nth-child(3) {
                animation: typing 2s steps(100, end) both;
                font-size: 0.95rem;
                animation-delay: 4s;
            }
        }
    
        &__text, &__skills {
            width: 100%;
        }
    }
}















