$first-color: #0C0032;						
$second-color: #464866;		
$third-color: #211A36;	
$contact-form: #edf5e1;
$hover:#2079AC;
$hover-menu:#FF0700;
$text-color:white;
$main-font: Georgia, 'Times New Roman', Times, serif;

.nachricht {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  
    &__smile {
        max-width: 100px;
        position: absolute;
        right: 20px;
        bottom: 220px;
    }

    h1, h2 {
        color: $text-color;
        padding: 25px 0;
    }

    a {
        color: lightblue;
        &:hover {
            color: $hover-menu;
        }
    }
}
  
@media only screen and (max-width: 1060px) {
    
    .nachricht {
        width: 90%;
        
        &__smile {
            position: relative;
            right: 0;
            top: 5px;
        }

        h1, h2 {
            padding: 15px 0;
        }
    }
}
  
@media only screen and (max-width: 700px) {
    
    .nachricht__smile {
        max-width: 80px;
    }

    h1 {
        font-size: 1.563rem;
        padding: 20px 0;
    }

    h2 {
        font-size: 1.25rem;
        margin: 0;
    }
}
  