$text-color:white;
$first-color: #0C0032;						
$second-color: #464866;		
$second-hover:#FF0700;

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 200px;
    background-color: $first-color;
    .nav-header {
        display: block;
        text-align: center;
        color: $text-color;
        h3 {
            padding: 10px 0 0;
        }
  
        &__drop-bar {
            display: none;
        }
    
        &__language {
            visibility: hidden;
            height: 0;
            height: 0;
        }
    
        &__logo {
            margin: 40px auto 12px;
            img {
                height: 6rem;
            }
        }
    
        &__social-media  { 
            padding: 20px 0 30px;
            text-align: center;
            background-color: $first-color;
            a { 
                margin: auto 8px;
                border-radius: 2px;
                font-size: 1.875rem; 
                color: $text-color;
                &:hover {
                    transform:scale(1.1); 
                    -webkit-transform:scale(1.1);
                    color: $second-hover;
                }
            }
        }
    }
  
    ul {
        display: block;
        padding-top: 5px;
        height: 100vh;
        text-align: center;
        background-color: $second-color;
        h3, 
        p {
            visibility: hidden;
            height: 0;
        }

        li:nth-child(8) {
            padding-bottom: 20px;
        }
  
        li {
            margin: auto;
            padding: 12px 0;
            a {
                font-weight: bold;
                font-size: 1.5rem;  
                color: $text-color;
                &:hover {
                    color: $second-hover;
                } 
            } 
        } 

        .nav-menu__horizontal-line1, 
        .nav-menu__horizontal-line2 {
            visibility: hidden;
        }
  
        .nav-menu__empty {
            height: 100vh;
            background-color: $first-color;
        }
       
        .nav-menu__social-media  { 
            visibility: hidden;
            height: 0;
        }
    }
}
  
@media screen and (max-width: 1200px) {

    // side scrollbar active
    ::-webkit-scrollbar {
        display: none;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    nav {
        overflow: auto;
        .nav-header {
            h3 {
                font-size: 1.25rem;
            }

            p {
                font-size: 1.15rem;
            }

            &__logo {
                margin: 37px auto 8px;
                img {
                    height:5.5rem;
                }
            }    
        
            &__social-media a { 
                font-size: 1.8rem;  
            }
        } 
        
        ul {
            li a {
                font-size: 1.25rem;
            }
        }     
    }
}
  
@media screen and (max-width: 700px) {
  
    nav {
        width: 100%;
        height: 80px;
        overflow: unset;
        border-bottom: 0.5px solid $text-color;
        .nav-header{
            h3, 
            p { 
                padding: 0px;
                visibility: hidden;
            }
        
            &__drop-bar {
                display: block;
                position: absolute;
                left: 10%;
                top: 27%;
                cursor: pointer;
                &__line1, 
                &__line2, 
                &__line3 {
                    display: block;
                    margin: 6px auto;
                    width: 30px;
                    height: 3px;
                    transition: 0.4s;
                    background-color: $text-color;
                }
            }
        
            &__language {
                visibility: visible;
                display: inline-block;
                position: absolute;
                right: 6%;
                top: 34%;
                margin-right: 20px;
                font-size: 0.938rem;
                color: $text-color;
                li ul {
                    display: none;
                    padding: 5px;
                    a {
                        display: block;
                        line-height: 0;
                    }

                    span {
                        display: block;
                        position: relative;
                        left: 14px;
                        top: 8px;
                        font-size: 0.8rem;
                        font-weight: bold;
                        color: black;
                        &:active {
                            color: $second-hover;
                        }
                    }
                }
            
                li:hover ul {
                    display: block;
                    position: absolute;
                    top: 20px;
                    left: 1px;
                    z-index: 1;
                    padding-top: 0px;
                    width: 56px;
                    height: 25px;
                    border-radius: 5px;
                    background: $text-color;
                }
            
                img {
                    position: absolute;
                    right: 118%;
                    width: 1.8rem;
                }
            
                &__triangle {
                    position: absolute;
                    top: 10px;
                    left: 9px;
                    z-index: 1;
                    height: 14px;
                    width: 30px;
                    overflow: hidden;
                    background: transparent;
                }
            
                li:hover .nav-header__language__triangle:after {
                    display: block;
                    z-index: 2;
                    margin: auto;
                    height: 15px;
                    width: 15px;
                    content: '';
                    transform: rotate(45deg) translateY(0px) translatex(10px);
                    border-radius: 2px;
                    background: $text-color;
                }
            
                i:nth-child(1) {
                    position: absolute;
                    top: 3px;
                    right: 27px;
                    width: 25px;
                    height: 19px;
                    cursor: auto;
                    background-image: url("../img/logo/germanflag.svg");
                }
                
                i:nth-child(2) {
                    position: absolute;
                    left: 26px;
                    top: 2px;
                    cursor: pointer;   
                }
            }
        
            &__logo {
                margin: 8px auto auto;
                img {
                    height:4rem;
                }
            }

            &__social-media  { 
                display: none;
                }
            }
    
        ul {
            position: fixed;
            left: -150%;
            top: 80px;
            z-index: 1;
            padding: 10px 0;
            width: 100%;
            transition: 0.5s;
            h3, 
            p {
                visibility: visible;
                height: auto;
                color: $text-color;
            }

            p {
                margin-bottom: -10px;
            } 

            li:nth-child(8) {
                padding-bottom: 5px;
            }
    
            li {
                padding: 5px 0;
                a:hover {
                    color: $text-color;  
                    &:active {
                        color: $second-hover;
                    }
                }
            }
    
            .nav-menu__social-media  { 
                visibility: visible;
                margin-top: -10px;
                padding-top: 0px;
                height: 0;
                text-align: center;
                background-color: $first-color;
                a { 
                    margin: auto 7px;
                    border-radius: 2px;
                    font-size: 1.875rem; 
                    color: $text-color;
                    &:hover {
                        transform:scale(1.1); 
                        -webkit-transform:scale(1.1);
                    }

                    &:active {
                        color: $second-hover;
                    }
                }
            }
            
            .nav-menu__horizontal-line1, 
            .nav-menu__horizontal-line2 {
                visibility: visible;
                display: inline-block;
                width: 70%;
                border: 2px solid $second-hover;
                border-radius: 100%;
            }
        
            .nav-menu__horizontal-line1 {
                margin-bottom:-2px;
            }
        
            .nav-menu__horizontal-line2 {
                margin-bottom: 10px;
            }
    
            .nav-menu__empty {
                visibility: hidden;
                height: 0;
            }
        }
    
        //hamburger menu JS
        #nav-menu.active {
            left: 0;
        }
    
        .change .nav-header__drop-bar__line1 {
            transform: rotate(-45deg) translate(-7px, 5.5px);
            -webkit-transform: rotate(-45deg) translate(-7px, 5.5px);
        }  
        
        .change .nav-header__drop-bar__line2 {
            opacity: 0;
        } 
        
        .change .nav-header__drop-bar__line3 {
            transform: rotate(45deg) translate(-7px, -5.5px);
            -webkit-transform: rotate(45deg) translate(-7px, -5.5px);
        }
    }
}
    