$first-color: #0C0032;						
$second-color: #464866;		
$third-color: #211A36;	
$contact-form: #edf5e1;
$main-font: Georgia, 'Times New Roman', Times, serif;
$hover:#2079AC;
$hover-menu:#FF0700;
$text-color:white;

.projects {
    padding: 35px 0 30px;
    margin: auto;
  
    &__portfolio {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 30px;
        column-gap: 60px;
  
        &__item {
            background-color: $second-color;
            border-bottom-style: solid;
            border-bottom-color: $hover-menu;
            border-radius: 10px;
            text-align: center;
            h3 {
                padding: 10px 0;
                color: $text-color;
            }
            p {
                padding: 10px 20px;
                text-align: left;
            }
        }
    
        &__flipbox {
            max-width: 200px;
            height: 200px;
            margin: auto;
        }
        
        &__flipbox__inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }
        
        &__flipbox:hover &__flipbox__inner {
            transform: rotateY(180deg);
        }
        
        &__flipbox__front1, &__flipbox__front2, &__flipbox__front3, &__flipbox__back {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        
        &__flipbox__front1 {
            background-color: #d6c6b4;
            z-index: 1; //so pointer work properly on the back side
            cursor: pointer;
        }
    
        &__flipbox__front2 {
            background-color:#116466;
            z-index: 1; //so pointer work properly on the back side
            cursor: pointer;
        }
    
        &__flipbox__front3 {
            background-color:$text-color;
            z-index: 1; //so pointer work properly on the back side
            cursor: pointer;
        }
        
        &__flipbox__back {
            background-color: $hover;
            transform: rotateY(180deg);
            z-index: 2; //so pointer work properly on the back side
            font-size: 1.25rem;
            font-weight: bold;
            padding-top: 15px;
            color:$text-color;
            a:nth-child(1) {
                color:$text-color;
                &:hover {
                    color: $hover-menu;
                }
            }

            p:nth-child(2) {
                margin: -5px 0 -15px;
                text-align: center;
            }
    
            p:nth-child(3) {
                text-align: center;
            }
    
            a:nth-child(4) {
                color:$text-color;
                position: relative;
                bottom: 6%;
                font-size: 1.875rem;
                    &:hover {
                        color: $hover-menu;
                    }
                }
                }
            
        &__logo1,  &__logo2 {
            max-width: 70%;
            position: relative;
            top: 15%;
        }
        
        .pulse img {
            animation-name: pulse;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }
    
        @keyframes pulse {
            0% {transform: scale(1);}
            50% {transform: scale(1.3);}
            100% {transform: scale(1);}
        }
    }
}
  
@media only screen and (max-width: 1560px) {
  
.projects__portfolio {
    grid-template-columns: 1fr 1fr;
}
}
    
@media only screen and (max-width: 1080px) {
  
.projects__portfolio {
    grid-template-columns: 1fr;
    margin: auto 100px;
}
}
  
@media only screen and (max-width: 900px) {
  
.projects {
    padding: 25px 0 30px;
    
    &__portfolio {
        margin: auto 20px;
    }
}
}
  
@media only screen and (max-width: 700px) {
  
.projects {
    padding: 20px 0;
    margin: auto;
  
    &__portfolio {
        margin: auto 50px;
      
        &__item {
            h3 {
                font-size: 1.25rem;
            }
        }
    
        &__flipbox__back {
            font-size: 1.25rem;
    
            p:nth-child(2) {
            font-size: 1.25rem;
            }
    
            p:nth-child(3) {
            font-size: 1.25rem;
            }
        }
    }
}
}
  
@media only screen and (max-width: 500px) {
  
.projects__portfolio {
    margin: auto 25px;
  
    &__flipbox {
        max-width: 150px;
        height: 150px;
        &__back {
            font-size: 0.938rem;
            a:nth-child(1) {
                &:hover {
                    color: $text-color;
                }
                &:active {
                    color: $hover-menu;
                }
            }

            p:nth-child(2) {
                margin: -10px 0 -20px;
                font-size: 0.938rem;
            }
    
            p:nth-child(3) {
                font-size: 0.938rem;
            }
    
            a:nth-child(4) {
                bottom: 8%;
                font-size: 1.875rem;
        
            }
        }
    }
}
}
  
  
  
  