@import 'footer';
@import 'navbar';
@import 'message';
@import 'contact';
@import 'aboutme';
@import 'projects';
@import 'nachricht';
@import 'home';

$main-font: Georgia, 'Times New Roman', Times, serif;
$text-color: white;
$first-color: #0C0032;						
$second-color: #464866;		
$third-color: #211A36;	
$first-hover: #2079AC;
$second-hover: #FF0700;
$contact-form: #edf5e1;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    font-size: 100%;
}

body {
    font-size: 1.25rem;
}

html, body {
    line-height: 1.5;
    font-family: $main-font;
    height: 100vh;
    margin-left: 100px;
    padding: 0 40px;   
    background: $third-color;
    scroll-behavior: smooth;
}

section h1 {
    font-size: 2.5rem;
    text-align: center;
    color: $text-color;						
}

section p {
    color: $text-color;	
}

.horizontal__line {
    border: 2px solid $second-hover;
    border-radius: 100%;
    width: 30%;
    margin: auto;  
}

li {
    list-style: none;
}
  
a {
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
  
    html, body {
            padding: 0 25px;
    }

    section h1 {
            font-size: 1.875rem;
    }

    section p {
            font-size: 1.15rem;
    }

    .horizontal__line {
            width: 50%;
    }
}
  
 @media screen and (max-width: 700px) {
    
    html, body {
        margin: 0 10px;
        padding: 0;
        scroll-padding-top: 80px; /* Equals to fixed navbar height for mobile usage*/
    }

    section h1 {
        font-size: 1.6rem;
        padding: 0;
    }

    section p {
        font-size: 1rem;
    }
}
  






    

      
    
    
    


