$main-font: Georgia, 'Times New Roman', Times, serif;
$text-color: white;
$contact-form: #edf5e1;
$first-color: #0C0032;						
$second-color: #464866;		
$third-color: #140627;	
$first-hover:#B30600;
$second-hover:#2079AC;
$third-hover: #FF0700;