.work-history {
    @extend .projects;
    ul:nth-child(3) li {
        h3 {
            margin: 0 20px;
        }

        p {
            text-align: center;
        }

        p:nth-child(4) {
            padding: 0 20px 5px;
            color:#FFE0C2;
        }

        p:nth-child(7) {
            text-align: left;
        }

        ul:nth-child(2) li {
            .work-history-flip-box1 {
                @extend .projects-flip-box1;
                img {
                    top: 0;
                    right: 70%;
                    max-width: 180%;
                }
            }
            
            .work-history-flip-box__triangle {
                @extend .projects-flip-box__triangle;
            }    
                
            .work-history-flip-box__back {
                @extend .projects-flip-box__back;
                padding: 80px 10px 0;
            } 
        }
        
        ul:nth-child(6) {
            padding: 0 20px 0 40px;
            li {
                padding-bottom: 10px;
                border: none;
                list-style: outside;
                text-align: left; 
            }
        }
    }
}

@media only screen and (max-width: 1200px) {

    .work-history ul:nth-child(3) li {
        li, 
        p {
            font-size: 1.15rem;
        } 
    }
}

@media only screen and (max-width: 700px) {

    .work-history ul:nth-child(3) li { 
        li, 
        p {
            font-size: 1rem;
        }
    }
}

@media only screen and (max-width: 500px) {

    .work-history ul:nth-child(3) li {
        p:nth-child(4) {
            padding: 0 10px 5px;
        }

        ul:nth-child(2) li .work-history-flip-box__back {
            padding: 60px 10px 0;
        } 
        
        ul:nth-child(6) {
            padding: 0 10px 0 30px;
            li {
                padding-bottom: 5px;
            }
        }
    }
} 